%h3 Instructions
%p This experiment is designed to test which kinds of information people remember best from a paragraph.
%p You will be asked to read a paragraph, try and remember it as best you can but do not take notes, screenshot it or otherwise copy it down.  Please do not use the back button on your browser.
%p After the paragraph you will be asked a series of multiple choice questions which you should answer from memory as best you can.
%p You will be asked to read and answer questions about 3 paragraphs in total.  In order to complete the experiment these would need to be done in a single sitting (you are not logging in so if you close your browser or turn off your computer you may not be able to return to your place in the experiment). 
%p Each paragraph describes a theoretical trip you are taking to a North American city.  Any information relating to the city was correct at the time this experiment was created (October 2017).
%hr
%form{ :action => "/experiment", :method => "get"}
  %input{:type => "submit", :value => "Begin", :class => "btn btn-primary btn-lg", :id => "b1", :disabled => false}